[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
urllib3 = "*"
requests = "*"
seaborn = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
